.transiton-delay-100 {transition-delay: 100ms!important;}
.transiton-delay-200 {transition-delay: 200ms!important;}
.transiton-delay-300 {transition-delay: 300ms!important;}
.transiton-delay-400 {transition-delay: 400ms!important;}
.transiton-delay-500 {transition-delay: 500ms!important;}
.transiton-delay-600 {transition-delay: 600ms!important;}
.transiton-delay-700 {transition-delay: 700ms!important;}
.transiton-delay-800 {transition-delay: 800ms!important;}
.transiton-delay-900 {transition-delay: 900ms!important;}
.transiton-delay-1000 {transition-delay: 1000ms!important;}
.transiton-delay-1100 {transition-delay: 1100ms!important;}
.transiton-delay-1200 {transition-delay: 1200ms!important;}
.transiton-delay-1300 {transition-delay: 1300ms!important;}
.transiton-delay-1400 {transition-delay: 1400ms!important;}
.transiton-delay-1500 {transition-delay: 1500ms!important;}
.transiton-delay-1600 {transition-delay: 1600ms!important;}
.transiton-delay-1700 {transition-delay: 1700ms!important;}
.transiton-delay-1800 {transition-delay: 1800ms!important;}
.transiton-delay-1900 {transition-delay: 1900ms!important;}
.transiton-delay-2000 {transition-delay: 2000ms!important;}


















